<div class="row mt-3">
  <div class="col-12">
    <h1>Search</h1>
    <mat-divider></mat-divider>
  </div>
  <div class="col-12">
    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
    >
      <mat-form-field class="mt-2">
        <input
          matInput
          required
          type="text"
          placeholder="Code"
          formControlName="code"
        >
        <mat-error *ngIf="showFieldHint('code')">
          <span *ngFor="let e of f['code'] | fieldErrors">{{ e }}</span><br>
        </mat-error>
      </mat-form-field>

      <button
        mat-flat-button
        type="submit"
        color="primary"
        class="float-right"
        [disabled]="form.invalid"
      >
        Go
      </button>
    </form>
  </div>
</div>
