<div class="row mx-0">
  <div class="col-12">
    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
    >
      <mat-form-field class="mt-2">
        <input
          matInput
          required
          type="email"
          placeholder="Email"
          formControlName="email"
        >
        <mat-error *ngIf="isFieldInvalid('email')">
          <span *ngFor="let e of form.get('email').errors | fieldErrors">{{ e }}</span><br>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mt-2">
        <input
          matInput
          required
          type="password"
          placeholder="Password"
          formControlName="password"
        >
        <mat-error *ngIf="isFieldInvalid('password')">
          <span *ngFor="let e of form.get('password').errors | fieldErrors">{{ e }}</span><br>
        </mat-error>
      </mat-form-field>

      <button
        mat-flat-button
        type="submit"
        color="primary"
        class="float-right mb-2"
        [disabled]="form.invalid"
      >
        Login
      </button>
    </form>
  </div>
</div>
