<mat-toolbar color="primary" (clickOutside)="closeMenu()">
  <mat-toolbar-row class="toolbar">
    <a
      class="title"
      routerLink="/"
      (click)="closeMenu()"
    >
      Link To
    </a>

    <div fxHide.xs class="left">
      <a
        mat-button
        class="item"
        [routerLink]="item.link"
        *ngFor="let item of getMenuItems('left')"
      >
        {{ item.title }}
      </a>
    </div>

    <span class="spacer"></span>

    <div fxHide.xs class="right">
      <a
        mat-button
        class="item"
        [routerLink]="item.link"
        *ngFor="let item of getMenuItems('right')"
      >
        {{ item.title }}
      </a>
    </div>

    <button
      fxHide.gt-xs
      mat-icon-button
      class="menu-toggle"
      aria-label="menu icon"
      (click)="toggleMenu()"
    >
      <mat-icon>{{ (isMenuOpen$ | async) ? 'close' : 'menu' }}</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row
    fxHide.gt-xs
    class="menu"
    *ngIf="(isMenuOpen$ | async)"
  >
    <a
      mat-button
      class="item"
      [routerLink]="item.link"
      (click)="closeMenu()"
      *ngFor="let item of getMenuItems('left')"
    >
      {{ item.title }}
    </a>

    <mat-divider></mat-divider>

    <a
      mat-button
      class="item"
      [routerLink]="item.link"
      (click)="closeMenu()"
      *ngFor="let item of getMenuItems('right')"
    >
      {{ item.title }}
    </a>
  </mat-toolbar-row>
</mat-toolbar>
