.toolbar {
  .title {
    margin-right: 18px;
    text-decoration: none;
    color: white;

    &, &:active, &:focus {
      outline: none;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }
}

.menu {
  display: flex;
  flex-direction: column;

  height: 100%;  // let toolbar row show all item of menu

  padding-top: 8px;
  padding-bottom: 8px;

  .item {
    text-align: left;
    width: 100%;
  }

  mat-divider {
    height: 1.25px;
    width: calc(100% - 24px);

    margin: 5px auto;

    background-color: white;
    opacity: 0.5;
  }
}

.item {
  font-weight: normal;
}
